<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- <link rel="stylesheet" href="CSS/style.css"> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>お薬手帳モバイル</title>
  </head>
  <body  bgcolor="lemonchiffon">
    <br>
    <div id="webname">お薬手帳</div>
    <div id="login">ログイン</div>
    <br><br><br>
    <a href="{% url 'See' %}" class="btn see">手帳を見る</a>
    <br><br><br><br>
    <a href="{% url 'Write' %}" class="btn write">記録する</a>
    <br><br><br><br>
    <a href="#" class="square_btn">設定</a>
    <a href="https://www.google.co.jp/" class="square_btn">薬検索</a>

    <br><br><br><br>
    問い合わせ XXXXXXXXXX

  </body>
</html>
